{% extends "base.html" %}
{% block title %}Main Page{% endblock %}

{% block nav_page_2 %}
    active
{% endblock %}

{% block content %}
    <h1>Hello, {{ session["user"] }}</h1>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for ctg, msg in messages %}
        {% if ctg == "error" %}
          <div class="alert alert-danger" role="alert">
            {{ msg }}
          </div>
        {% elif ctg == "info" %}
          <div class="alert alert-info" role="alert">
            {{ msg }}
          </div>
        {% elif ctg == "success" %}
          <div class="alert alert-success" role="alert">
            {{ msg }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card">
        <div class="card-body">
            <form action="#" method="post" enctype="multipart/form-data">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" name="file" required>
                    <label class="custom-file-label" for="file">Choose file…</label>
                    <small id="filehelp" class="form-text text-muted">Supported file types: PDF</small>
                </div>
                <button type="submit" value="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}